*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Hacked;
    src: url(https://hackedfont.com/HACKED.ttf);
}
span [alt="loog"]{
  width: 100px;
  height: 50px;
}
.offcanvas-title{
    font-family: Hacked;
    color: #E5A1FC;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar-brand{
    font-family: Hacked;
    color: #E5A1FC;
}
.ded{
    min-height: 88.9vh;
    display:grid;
    place-items: center;
    background-image: url(https://i.postimg.cc/MGjPWBtv/1920x1080-px-DEDSEC-hacking-Watch-Dogs-Watch-Dogs-2-1290725-wallhere-com.jpg);
    background-size: cover;
    background-position: center;
    border-image: fill 0 linear-gradient(#0003,#000);
}
.navbar{
    background-color: #000600;
    color: #E5A1FC;
    
}
.offcanvas-body{
    background-color: #000600;
    color: #E5A1FC;

}
.offcanvas-header{
    background-color: #000600;
    color: #E5A1FC;
}
.nav-link{
    color: #E5A1FC;
}
.nav-link:hover{
    color: #590577;
}
.navbar-toggler{
    background-color: #150022;
}
.navbar-toggler:hover{
    background-color: #150022;
    border: 2px solid #E5A1FC;
}
.landing{
    overflow-y: hidden;
}
.welcome{
    text-align: center;
    font-family:Hacked ;
    color: #E5A1FC;
    font-size: 1.8em;
    border: 2px solid #000600;
    background:linear-gradient(60deg , #150022 ,#000600 );
    padding: 20px;

}
.btnAni {
    color: #000600 ;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 0.5em 1em;
    position: relative;
    background:linear-gradient(60deg ,#150022, #000600 );
    cursor: pointer;
    font-family: Hacked;
  }
  
  .btnAni:active {
    transform: scale(.98);
    box-shadow: .1px .1px 2px #590577  ;
  }
  
  .btnAni span {
    position: absolute;
    background: #590577 ;
    transition: .5s;
    box-shadow: 1px 1px 20px #590577  ;
  }
  
  .btnAni span:nth-child(1) {
    top: 0;
    left: 0;
    width: 3px;
    height: 30%;
  }
  
  .btnAni:hover span:nth-child(1) {
    height: 100%;
  }
  
  .btnAni span:nth-child(2) {
    top: 0;
    left: 0;
    width: 15%;
    height: 3px;
  }
  
  .btnAni:hover span:nth-child(2) {
    width: 100%;
  }
  
  .btnAni span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 3px;
    height: 30%;
  }
  
  .btnAni:hover span:nth-child(3) {
    height: 100%;
  }
  
  .btnAni span:nth-child(4) {
    bottom: 0;
    right: 0;
    width: 15%;
    height: 3px;
  }
  
  .btnAni:hover span:nth-child(4) {
    width: 100%;
  }
  .btnAni > a{
    color: #E5A1FC;
    text-decoration: none;
  }
.footer{
    background-color: black;
}
.columns > sections {
    min-width: 180px;
}

.bottom {
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px 0px;
    flex-wrap: wrap ;
    border-top: 1px solid #E5A1FC;
    color:#E5A1FC ;
}
.icons{
  padding: 20px;
  margin: 10px;
  font-size: 20px;
  color: rgb(196, 195, 195);
}

.icons a:hover {
  color: rgb(255, 0, 0);
}
.links{
    margin-left:auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    color: #E5A1FC;
    display: block;
}

@media (max-width: 800px) {
    .links{
        margin: 0 auto;
    }
}

.links > a{
    color:#E5A1FC ;
    text-decoration: none;
}

.links > a:hover{
    text-decoration: underline;
}

.bottom > small{
    font-size: 16px;
    margin: 0 4px;
}

    @media (max-width:450px) {
        .btnAni {
            color: #000600 ;
            outline: none;
            border: none;
            font-size: 15px;
            padding: 0.5em 1em;
            position: relative;
            background:linear-gradient(60deg ,#150022, #000600 );
            cursor: pointer;
            font-family: Hacked;
          }
          
          .btnAni:active {
            transform: scale(.98);
            box-shadow: .1px .1px 2px #590577  ;
          }
          
          .btnAni span {
            position: absolute;
            background: #000600 ;
            transition: .5s;
            box-shadow: 1px 1px 20px #590577  ;
          }
          
          .btnAni span:nth-child(1) {
            top: 0;
            left: 0;
            width: 3px;
            height: 30%;
          }
          
          .btnAni:hover span:nth-child(1) {
            height: 100%;
          }
          
          .btnAni span:nth-child(2) {
            top: 0;
            left: 0;
            width: 15%;
            height: 3px;
          }
          
          .btnAni:hover span:nth-child(2) {
            width: 100%;
          }
          
          .btnAni span:nth-child(3) {
            bottom: 0;
            right: 0;
            width: 3px;
            height: 30%;
          }
          
          .btnAni:hover span:nth-child(3) {
            height: 100%;
          }
          
          .btnAni span:nth-child(4) {
            bottom: 0;
            right: 0;
            width: 15%;
            height: 3px;
          }
          
          .btnAni:hover span:nth-child(4) {
            width: 100%;
          }
    }

 @media (min-width:700px) {
    .welcome{
        text-align: center;
        font-family:Hacked ;
        color: #E5A1FC;
        font-size: 5em;
        border: 2px solid #000600;
        background:linear-gradient(60deg , #150022 ,#000600 );
        padding: 10px;
    
    }
    .socials{
        display: flex;
        justify-content: center;
        align-items: center;
        display: inline-flex;
    }
    
} 
/* about>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.abe{
    min-height: 88.9vh;
    display:grid;
    place-items: center;
    background-image: url(https://i.postimg.cc/MGjPWBtv/1920x1080-px-DEDSEC-hacking-Watch-Dogs-Watch-Dogs-2-1290725-wallhere-com.jpg);
    background-size: cover;
    background-position: center;
    border-image: fill 0 linear-gradient(#0003,#000);
}
.abee{
    margin-top: 50px;
    text-align: center;
    font-family:Hacked ;
    color: #E5A1FC;
    font-size: 4em;
    border: 2px solid #000600;
    background:linear-gradient(60deg , #150022 ,#000600 );
    padding: 10px;
    margin-bottom: 10px;
}
.abo{
    background:linear-gradient(60deg , #150022 ,#000600 );
    color: #E5A1FC;
    opacity: .9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media (max-width:400) {
    .abee{
        margin-top: 20px;
        text-align: center;
        font-family:Hacked ;
        color: #E5A1FC;
        font-size: 1em;
        border: 2px solid #000600;
        background:linear-gradient(60deg , #150022 ,#000600 );
        padding: 5px;
    }
    
}
/* products>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.layout {
  display: grid;
  grid-template-rows: repeat(2, 250px);
  grid-template-columns: repeat(3, 200px);
  gap: 10px;
}
.pr{

  min-height: 88.9vh;
  display:grid;
  place-items: center;
  background-image: url(https://i.postimg.cc/MGjPWBtv/1920x1080-px-DEDSEC-hacking-Watch-Dogs-Watch-Dogs-2-1290725-wallhere-com.jpg);
  background-size: cover;
  background-position: center;
  border-image: fill 0 linear-gradient(#0003,#000);

}

.prodCard{
  width: 200px;
  height: 250px;
  overflow: hidden;
  cursor: pointer;
  background-color: #150022;
}

.imgWrap{
  height: 50%;
  background-color: white;
  position: relative;
  overflow: hidden;
}
.imgWrap .img1{
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  transition: ease-in-out 0.2s;

}

.addtoCart{
  padding: px;
  background-color: #590577;
  color: white;
  border: none;
  font-size: 16px;
  position: absolute;
  bottom: -10px;
  left: 60px;
  transform: translateY(-50%);
  transition: ease-in-out 0.2s;
  cursor: pointer;
  font-family: poppin;
  border: 1px solid #150022;
}

.addtoCart:hover{
  background-color: #000600;
  color: #E5A1FC;
}

.info{
  height: 15%;
  padding: 0px 0;
  box-sizing: border-box;
}

.info .textP{
  font-family: poppin;
  font-size: 18px;
  font-weight: 500;
  color: #E5A1FC;
}

.info .desP{
  font-size: 14px;
  font-weight: 400;
  color: #E5A1FC;
  margin: 5px 0 15px 0;
}
.pP{
  color: #E5A1FC;
}

@media (max-width:700px) {
  .layout {
    margin-top: 25%;
    margin-left: 25%;
    display: grid;
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: 300px;
    gap: 5px 8px;
  }
}

.sear {
  margin-top: 80px;
  position: relative;
  box-sizing: border-box;
  width: fit-content;
}

.mainbox {
  box-sizing: border-box;
  position: relative;
  width: 230px;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  border-radius: 160px;
  background-color: #150022;
  transition: all 0.3s ease;
}

.checkbox:focus {
  border: none;
  outline: none;
}

.checkbox:checked {
  right: 10px;
}

.checkbox:checked ~ .mainbox {
  width: 50px;
}

.checkbox:checked ~ .mainbox .search_input {
  width: 0;
  height: 0px;
}

.checkbox:checked ~ .mainbox .iconContainer {
  padding-right: 8px;
}

.checkbox {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 17px;
  top: 10px;
  z-index: 9;
  cursor: pointer;
  appearance: none;
}

.search_input {
  box-sizing: border-box;
  height: 100%;
  width: 170px;
  background-color: transparent;
  border: none;
  outline: none;
  padding-bottom: 4px;
  padding-left: 10px;
  font-size: 1em;
  color: white;
  transition: all 0.3s ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search_input::placeholder {
  color: rgba(255, 255, 255, 0.776);
}

.iconContainer {
  box-sizing: border-box;
  padding-top: 5px;
  width: fit-content;
  transition: all 0.3s ease;
}

.search_icon {
  box-sizing: border-box;
  fill: white;
  font-size: 1.3em;
}

/* admin>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>. */
.admi{
  min-height: 88.9vh;
  display:grid;
  place-items: center;
  background-image: url(https://i.postimg.cc/MGjPWBtv/1920x1080-px-DEDSEC-hacking-Watch-Dogs-Watch-Dogs-2-1290725-wallhere-com.jpg);
  background-size: cover;
  background-position: center;
  border-image: fill 0 linear-gradient(#0003,#000);
}
.tab{
  margin-top: 2em;
  flex-wrap: nowrap;
  background-color: #150022;
  color: #E5A1FC;
}
.tab td{
  flex-direction: row;
  flex-grow: inherit;
  text-align: center;
  padding-right: 3px;
  border: 2px solid #590577;
}

.addC {
  margin-top: 6em;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  border-style: solid;
  background-color: transparent;
  border-color: #590577;
  width: 120px;
  height: 60px;
  transition: 0.2s ease;
  text-transform: uppercase;
  border-width: 2px;
  font-weight:500;
  font-size: 18px;
  letter-spacing: 2px;
  text-shadow: 0 0 50px #E5A1FC, 0 0 20px #E5A1FC, 0 0 15px #E5A1FC;
  box-shadow: 0 0 50px #E5A1FC, 0 0 30px #E5A1FC,
}
.addC:hover {
  color: #E5A1FC;
  background-color: #590577;
  border-color: #590577;
  text-shadow: 0 0 50px #E5A1FC, 0 0 20px #E5A1FC, 0 0 15px #E5A1FC;
  box-shadow: 0 0 50px #590577, 0 0 30px #590577,
    0 0 60px #590577, 0 0 120px #590577;
  font-size: 20px;
  width: 130px;
  height: 80px;
  letter-spacing: 3px;
}
.addC:active {
  width: 115px;
  height: 38px;
  letter-spacing: 0px;
}

.remove {
  background-color: #150022;

  border-radius: .5rem;
  color: #E5A1FC;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .87rem;
  font-weight: 600;
  line-height: .1rem;
  padding: .70rem .1rem;
  text-align: center;
  box-shadow: 0 1px 2px 0 #E5A1FC;
  cursor: pointer;
}

.remove:hover {
  color: #590577;
  background-color: #E5A1FC;
}

.remove:focus {
  outline: 2px solid rgba(0,0,0,0.1);
  outline-offset: 2px;
}

.remove:focus-visible {
  box-shadow: none;
}

.edit {
  background-color: #150022;
  
  border-radius: .5rem;
  color: #E5A1FC;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .87rem;
  font-weight: 600;
  line-height: .1rem;
  padding: .70rem .1rem;
  text-align: center;
  box-shadow: 0 1px 2px 0 #E5A1FC;
  cursor: pointer;
}

.edit:hover {
  color: #590577;
  background-color: #E5A1FC;
}

.edit:focus {
  outline: 2px solid rgba(0,0,0,0.1);
  outline-offset: 2px;
}

.edit:focus-visible {
  box-shadow: none;
}

/* checkout>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>. */
.check{
  min-height: 88.9vh;
  display:grid;
  place-items: center;
  background-image: url(https://i.postimg.cc/MGjPWBtv/1920x1080-px-DEDSEC-hacking-Watch-Dogs-Watch-Dogs-2-1290725-wallhere-com.jpg);
  background-size: cover;
  background-position: center;
  border-image: fill 0 linear-gradient(#0003,#000);
}
/* contact>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.fooorm{
  display: flex;
  justify-content: center;
  align-items: center;
}
.conta{
  min-height: 88.9vh;
  display:grid;
  place-items: center;
  background-image: url(https://i.postimg.cc/MGjPWBtv/1920x1080-px-DEDSEC-hacking-Watch-Dogs-Watch-Dogs-2-1290725-wallhere-com.jpg);
  background-size: cover;
  background-position: center;
  border-image: fill 0 linear-gradient(#0003,#000);
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 500px;
  width: 100%;
}

.input{
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  color: #E5A1FC;
  font-family: Hacked;
}
.label{
  background-color: #150022;
  position: absolute;
  left: 20px;
  top: 10px;
  padding: 0 2px;
  transition: ease-in-out .1s;
  pointer-events: none;
}

.input,textarea{
  background-color:#150022 ;
  padding: 12px 20px;
  border: 1px solid #590577;
  border-radius: 20px;
  font-size: 16px;
  color: #E5A1FC;
}

.input:focus+label,textarea:focus+label{
  top :-12px;
}

.input:valid+label,textarea:valid+label{
  top:-12px;
}

.input[type="submit"]{
  transition: ease-in-out .2s;
  cursor: pointer;
  background-color: #150022;
  color:#E5A1FC;
  font-family: Hacked;
}

.input[type="submit"]:hover{
  background-color: #E5A1FC;
  color: #590577;
  font-family: Hacked;
}