*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Hacked;
    src: url(https://hackedfont.com/HACKED.ttf);
}
span [alt="loog"]{
  width: 100px;
  height: 50px;
}
.offcanvas-title{
    font-family: Hacked;
    color: #E5A1FC;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar-brand{
    font-family: Hacked;
    color: #E5A1FC;
}
.ded{
    min-height: 88.9vh;
    display:grid;
    place-items: center;
    background-image: url(https://i.postimg.cc/MGjPWBtv/1920x1080-px-DEDSEC-hacking-Watch-Dogs-Watch-Dogs-2-1290725-wallhere-com.jpg);
    background-size: cover;
    background-position: center;
    border-image: fill 0 linear-gradient(#0003,#000);
}
.navbar{
    background-color: #000600;
    color: #E5A1FC;
    
}
.offcanvas-body{
    background-color: #000600;
    color: #E5A1FC;

}
.offcanvas-header{
    background-color: #000600;
    color: #E5A1FC;
}
.nav-link{
    color: #E5A1FC;
}
.nav-link:hover{
    color: #590577;
}
.navbar-toggler{
    background-color: #150022;
}
.navbar-toggler:hover{
    background-color: #150022;
    border: 2px solid #E5A1FC;
}
.landing{
    overflow-y: hidden;
}
.welcome{
    text-align: center;
    font-family:Hacked ;
    color: #E5A1FC;
    font-size: 1.8em;
    border: 2px solid #000600;
    background:linear-gradient(60deg , #150022 ,#000600 );
    padding: 20px;

}
.btnAni {
    color: #000600 ;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 0.5em 1em;
    position: relative;
    background:linear-gradient(60deg ,#150022, #000600 );
    cursor: pointer;
    font-family: Hacked;
  }
  
  .btnAni:active {
    transform: scale(.98);
    box-shadow: .1px .1px 2px #590577  ;
  }
  
  .btnAni span {
    position: absolute;
    background: #590577 ;
    transition: .5s;
    box-shadow: 1px 1px 20px #590577  ;
  }
  
  .btnAni span:nth-child(1) {
    top: 0;
    left: 0;
    width: 3px;
    height: 30%;
  }
  
  .btnAni:hover span:nth-child(1) {
    height: 100%;
  }
  
  .btnAni span:nth-child(2) {
    top: 0;
    left: 0;
    width: 15%;
    height: 3px;
  }
  
  .btnAni:hover span:nth-child(2) {
    width: 100%;
  }
  
  .btnAni span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 3px;
    height: 30%;
  }
  
  .btnAni:hover span:nth-child(3) {
    height: 100%;
  }
  
  .btnAni span:nth-child(4) {
    bottom: 0;
    right: 0;
    width: 15%;
    height: 3px;
  }
  
  .btnAni:hover span:nth-child(4) {
    width: 100%;
  }
  .btnAni > a{
    color: #E5A1FC;
    text-decoration: none;
  }
.footer{
    background-color: black;
}
.columns > sections {
    min-width: 180px;
}

.bottom {
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px 0px;
    flex-wrap: wrap ;
    border-top: 1px solid #E5A1FC;
    color:#E5A1FC ;
}
.icons{
  padding: 20px;
  margin: 10px;
  font-size: 20px;
  color: rgb(196, 195, 195);
}

.icons a:hover {
  color: rgb(255, 0, 0);
}
.links{
    margin-left:auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    color: #E5A1FC;
    display: block;
}

@media (max-width: 800px) {
    .links{
        margin: 0 auto;
    }
}

.links > a{
    color:#E5A1FC ;
    text-decoration: none;
}

.links > a:hover{
    text-decoration: underline;
}

.bottom > small{
    font-size: 16px;
    margin: 0 4px;
}

    @media (max-width:450px) {
        .btnAni {
            color: #000600 ;
            outline: none;
            border: none;
            font-size: 15px;
            padding: 0.5em 1em;
            position: relative;
            background:linear-gradient(60deg ,#150022, #000600 );
            cursor: pointer;
            font-family: Hacked;
          }
          
          .btnAni:active {
            transform: scale(.98);
            box-shadow: .1px .1px 2px #590577  ;
          }
          
          .btnAni span {
            position: absolute;
            background: #000600 ;
            transition: .5s;
            box-shadow: 1px 1px 20px #590577  ;
          }
          
          .btnAni span:nth-child(1) {
            top: 0;
            left: 0;
            width: 3px;
            height: 30%;
          }
          
          .btnAni:hover span:nth-child(1) {
            height: 100%;
          }
          
          .btnAni span:nth-child(2) {
            top: 0;
            left: 0;
            width: 15%;
            height: 3px;
          }
          
          .btnAni:hover span:nth-child(2) {
            width: 100%;
          }
          
          .btnAni span:nth-child(3) {
            bottom: 0;
            right: 0;
            width: 3px;
            height: 30%;
          }
          
          .btnAni:hover span:nth-child(3) {
            height: 100%;
          }
          
          .btnAni span:nth-child(4) {
            bottom: 0;
            right: 0;
            width: 15%;
            height: 3px;
          }
          
          .btnAni:hover span:nth-child(4) {
            width: 100%;
          }
    }

 @media (min-width:700px) {
    .welcome{
        text-align: center;
        font-family:Hacked ;
        color: #E5A1FC;
        font-size: 5em;
        border: 2px solid #000600;
        background:linear-gradient(60deg , #150022 ,#000600 );
        padding: 10px;
    
    }
    .socials{
        display: flex;
        justify-content: center;
        align-items: center;
        display: inline-flex;
    }
    
} 
/* about>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.abe{
    min-height: 88.9vh;
    display:grid;
    place-items: center;
    background-image: url(https://i.postimg.cc/MGjPWBtv/1920x1080-px-DEDSEC-hacking-Watch-Dogs-Watch-Dogs-2-1290725-wallhere-com.jpg);
    background-size: cover;
    background-position: center;
    border-image: fill 0 linear-gradient(#0003,#000);
}
.abee{
    margin-top: 50px;
    text-align: center;
    font-family:Hacked ;
    color: #E5A1FC;
    font-size: 4em;
    border: 2px solid #000600;
    background:linear-gradient(60deg , #150022 ,#000600 );
    padding: 10px;
    margin-bottom: 10px;
}
.abo{
    background:linear-gradient(60deg , #150022 ,#000600 );
    color: #E5A1FC;
    opacity: .9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media (max-width:400) {
    .abee{
        margin-top: 20px;
        text-align: center;
        font-family:Hacked ;
        color: #E5A1FC;
        font-size: 1em;
        border: 2px solid #000600;
        background:linear-gradient(60deg , #150022 ,#000600 );
        padding: 5px;
    }
    
}

/* products>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.layout {
  display: grid;
  grid-template-rows: repeat(2, 250px);
  grid-template-columns: repeat(3, 200px);
  gap: 10px;
}
.pr{

  min-height: 88.9vh;
  display:grid;
  place-items: center;
  background-image: url(https://i.postimg.cc/MGjPWBtv/1920x1080-px-DEDSEC-hacking-Watch-Dogs-Watch-Dogs-2-1290725-wallhere-com.jpg);
  background-size: cover;
  background-position: center;
  border-image: fill 0 linear-gradient(#0003,#000);

}

.prodCard{
  width: 200px;
  height: 250px;
  overflow: hidden;
  cursor: pointer;
  background-color: #150022;
}

.imgWrap{
  height: 50%;
  background-color: white;
  position: relative;
  overflow: hidden;
}
.imgWrap .img1{
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  transition: ease-in-out 0.2s;

}

.addtoCart{
  padding: px;
  background-color: #590577;
  color: white;
  border: none;
  font-size: 16px;
  position: absolute;
  bottom: -10px;
  left: 60px;
  transform: translateY(-50%);
  transition: ease-in-out 0.2s;
  cursor: pointer;
  font-family: poppin;
  border: 1px solid #150022;
}

.addtoCart:hover{
  background-color: #000600;
  color: #E5A1FC;
}

.info{
  height: 15%;
  padding: 0px 0;
  box-sizing: border-box;
}

.info .textP{
  font-family: poppin;
  font-size: 18px;
  font-weight: 500;
  color: #E5A1FC;
}

.info .desP{
  font-size: 14px;
  font-weight: 400;
  color: #E5A1FC;
  margin: 5px 0 15px 0;
}
.pP{
  color: #E5A1FC;
}

@media (max-width:700px) {
  .layout {
    margin-top: 25%;
    margin-left: 25%;
    display: grid;
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: 300px;
    gap: 5px 8px;
  }
}

.sear {
  margin-top: 80px;
  position: relative;
  box-sizing: border-box;
  width: fit-content;
}

.mainbox {
  box-sizing: border-box;
  position: relative;
  width: 230px;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  border-radius: 160px;
  background-color: #150022;
  transition: all 0.3s ease;
}

.checkbox:focus {
  border: none;
  outline: none;
}

.checkbox:checked {
  right: 10px;
}

.checkbox:checked ~ .mainbox {
  width: 50px;
}

.checkbox:checked ~ .mainbox .search_input {
  width: 0;
  height: 0px;
}

.checkbox:checked ~ .mainbox .iconContainer {
  padding-right: 8px;
}

.checkbox {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 17px;
  top: 10px;
  z-index: 9;
  cursor: pointer;
  appearance: none;
}

.search_input {
  box-sizing: border-box;
  height: 100%;
  width: 170px;
  background-color: transparent;
  border: none;
  outline: none;
  padding-bottom: 4px;
  padding-left: 10px;
  font-size: 1em;
  color: white;
  transition: all 0.3s ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search_input::placeholder {
  color: rgba(255, 255, 255, 0.776);
}

.iconContainer {
  box-sizing: border-box;
  padding-top: 5px;
  width: fit-content;
  transition: all 0.3s ease;
}

.search_icon {
  box-sizing: border-box;
  fill: white;
  font-size: 1.3em;
}
/* 
@keyframes square-animation {
  0% {
   left: 0;
   top: 0;
  }
 
  10.5% {
   left: 0;
   top: 0;
  }
 
  12.5% {
   left: 32px;
   top: 0;
  }
 
  23% {
   left: 32px;
   top: 0;
  }
 
  25% {
   left: 64px;
   top: 0;
  }
 
  35.5% {
   left: 64px;
   top: 0;
  }
 
  37.5% {
   left: 64px;
   top: 32px;
  }
 
  48% {
   left: 64px;
   top: 32px;
  }
 
  50% {
   left: 32px;
   top: 32px;
  }
 
  60.5% {
   left: 32px;
   top: 32px;
  }
 
  62.5% {
   left: 32px;
   top: 64px;
  }
 
  73% {
   left: 32px;
   top: 64px;
  }
 
  75% {
   left: 0;
   top: 64px;
  }
 
  85.5% {
   left: 0;
   top: 64px;
  }
 
  87.5% {
   left: 0;
   top: 32px;
  }
 
  98% {
   left: 0;
   top: 32px;
  }
 
  100% {
   left: 0;
   top: 0;
  }
 }
 
 .loader {
  position: relative;
  width: 96px;
  height: 96px;
  transform: rotate(45deg);
 }
 
 .loader-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 0px;
  background: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: square-animation 10s ease-in-out infinite both;
 }
 
 .loader-square:nth-of-type(0) {
  animation-delay: 0s;
 }
 
 .loader-square:nth-of-type(1) {
  animation-delay: -1.4285714286s;
 }
 
 .loader-square:nth-of-type(2) {
  animation-delay: -2.8571428571s;
 }
 
 .loader-square:nth-of-type(3) {
  animation-delay: -4.2857142857s;
 }
 
 .loader-square:nth-of-type(4) {
  animation-delay: -5.7142857143s;
 }
 
 .loader-square:nth-of-type(5) {
  animation-delay: -7.1428571429s;
 }
 
 .loader-square:nth-of-type(6) {
  animation-delay: -8.5714285714s;
 }
 
 .loader-square:nth-of-type(7) {
  animation-delay: -10s;
 } */
